<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busqueda de vuelos</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <header>
        <div></div>
    </header>

    <main>
        <section>
            <h2>John Doe</h2>
            <a href="#">Cerrar Sesión</a>
            
            <h3>Búsqueda de Vuelos</h3>
            
            <form>
                <div>
                    <input type="checkbox" id="solo-ida">
                    <label for="solo-ida">Solo ida</label>
                </div>
                
                <div>
                    <label for="origen"></label>
                    <input type="text" id="origen" placeholder="Origen">
                </div>
                
                <div>
                    <label for="destino"></label>
                    <input type="text" id="destino" placeholder="Destino">
                </div>
                
                <div>
                    <label for="fecha-salida"></label>
                    <input type="text" id="fecha-salida" placeholder="Fecha de salida">
                </div>
                
                <div>
                    <label for="fecha-regreso"></label>
                    <input type="text" id="fecha-regreso" placeholder="Fecha de regreso">
                </div>
                
                <hr>
                
                <button type="submit">BUSCAR</button>
            </form>
        </section>
    </main>
</body>
</html>