<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check in</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <header>
        <div></div>
    </header>

    <main>
        <section>
            <div>
                <h2>John Doe</h2>
                <a href="#">Cerrar Sesión</a>
            </div>
            
            <h3>Check In</h3>
            
            <div class="vuelo-info">
                <p>05:30 - 06:30</p>
                <p>1h 30 min</p>
                <p>Bogotá - Barranquilla</p>
            </div>
            
            <div class="codigo-vuelo">
                <p>VAA025</p>
            </div>
            
            <h4>Contacto En Caso De Emergencia</h4>
            
            <form>
                <div class="form-group">
                    <label for="nombre-emergencia"></label>
                    <input type="text" id="nombre-emergencia" placeholder="Nombre completo" required>
                </div>
                
                <div class="form-group">
                    <label for="telefono-emergencia"></label>
                    <input type="tel" id="telefono-emergencia" placeholder="No. Teléfono Celular" required>
                </div>
                
                <button type="submit">GUARDAR</button>
            </form>
        </section>
    </main>
</body>
</html>