<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear contraseña</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body class="body-subclases">
    <header class="header">
        <img src="../icons/logo verde blanco horizontal.svg" alt="Logo DEAM" class="logo">
    </header>

    <main class="form-contenedor">
        <h2>Crear Contraseña</h2>
        <div class="linea-titulo"></div>

        <form action="./menu.html" method="get">
            <div class="casilla-relleno">
                <label for="password"></label>
                <input type="password" id="password" placeholder="Contraseña" required>
            </div>

            <div class="casilla-relleno">
                <label for="repeat-password"></label>
                <input type="password" id="repeat-password" placeholder="Repetir Contraseña" required>
            </div>

            <button type="submit" class="boton-principal">GUARDAR</button>
        </form>

    </main>
</body>

</html>