<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear contraseña</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <header>
        <div></div>
    </header>

    <main>
        <h2>Crear Contraseña</h2>
        
        <form>
            <div>
                <label for="password"></label>
                <input type="password" id="password" placeholder="Contraseña" required>
            </div>
            
            <div>
                <label for="repeat-password"></label>
                <input type="password" id="repeat-password" placeholder="Repetir Contraseña" required>
            </div>
            
            <button type="submit">GUARDAR</button>
        </form>

    </main>
</body>
</html>