<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <header>
        <div></div>
    </header>

    <main>
        <section>
            <h2>¡Hola John Doe!</h2>
            <p>¿Qué quieres hacer?</p>
            <a href="#">Cerrar Sesión</a>
            <nav>
                <ul>
                    <li><a href="#">Buscar vuelos</a></li>
                    <li><a href="#">Check In</a></li>
                    <li><a href="#">Mis Vuelos</a></li>
                </ul>
            </nav>
        </section>
    </main>
    
</body>
</html>