<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Menu</title>
  <link rel="stylesheet" href="../styles/styles.css" />
</head>

<body class="body-subclases">
  <header class="header">
    <img src="../icons/logo verde blanco horizontal.svg" alt="Logo DEAM" class="logo" />
  </header>

  <main class="form-contenedor">
    <section class="acciones">
      <h2>¡Hola Dylan Acevedo!</h2>
      <h3>¿Qué quieres hacer?</h3>
      <a href="../index.html" class="cerrar-sesion">Cerrar Sesión</a>

      <a href="./busqueda-vuelos.html" class="tarjeta">
        <div class="contenido">
          <img src="../icons/menu1.svg" alt="Buscar vuelos" />
          <span class="texto">Buscar Vuelos</span>
        </div>
        <span class="flecha">›</span>
      </a>

      <a href="./checkin.html" class="tarjeta">
        <div class="contenido">
          <img src="../icons/menu2.svg" alt="Buscar vuelos" />
          <span class="texto">Check In</span>
        </div>
        <span class="flecha">›</span>
      </a>

      <a href="./mis-vuelos.html" class="tarjeta">
        <div class="contenido">
          <img src="../icons/menu2.svg" alt="Buscar vuelos" />
          <span class="texto">Mis Vuelos</span>
        </div>
        <span class="flecha">›</span>
      </a>

    </section>
  </main>
</body>

</html>