<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mis vuelos</title>
  <link rel="stylesheet" href="../styles/styles.css" />
</head>

<body class="body-subclases">
  <header class="header">
    <img src="../icons/logo verde blanco horizontal.svg" alt="Logo DEAM" class="logo" />
  </header>

  <main class="form-contenedor2">
    <section>
      <div class="perfil">
        <img src="../icons/perfil.svg" alt="Perfil" class="avatar" />
        <div class="info">
          <h2>Dylan Acevedo</h2>
          <a href="../index.html" class="cerrar-sesion2">Cerrar Sesión</a>
        </div>
      </div>
      <div class="linea-titulo"></div>

      <h3>Mis Vuelos</h3>

      <div class="tarjeta-vuelo">
        <img src="../icons/AvionVolando.svg" alt="Avión" class="icono-avion" />
        <div class="datos-vuelo">
          <span>08:00 - 16:30</span>
          <span>8h 30 min</span>
          <span>Jun 10</span>
        </div>
        <div class="info-final">
          <strong>VAA101</strong>
          <span class="estado">A TIEMPO</span>
          <span class="ruta">Nueva York - Londres</span>
        </div>
      </div>

      <div class="tarjeta-vuelo">
        <img src="../icons/AvionVolando.svg" alt="Avión" class="icono-avion" />
        <div class="datos-vuelo">
          <span>10:15 - 05:45 (+1d)</span>
          <span>10h 30 min</span>
          <span>Jul 03</span>
        </div>
        <div class="info-final">
          <strong>VAA102</strong>
          <span class="estado">ATERRIZÓ</span>
          <span class="ruta">París - Tokio</span>
        </div>
      </div>

      <div class="tarjeta-vuelo">
        <img src="../icons/AvionVolando.svg" alt="Avión" class="icono-avion" />
        <div class="datos-vuelo">
          <span>09:15 - 11:45</span>
          <span>2h 30 min</span>
          <span>May 22</span>
        </div>
        <div class="info-final">
          <strong>VAA103</strong>
          <span class="estado">A TIEMPO</span>
          <span class="ruta">Sídney - Melbourne</span>
        </div>
      </div>

      <div class="acciones">
        <a href="./menu.html" class="boton-principal">VOLVER</a>
      </div>
    </section>
  </main>
</body>

</html>