<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis vuelos</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <header>
        <div></div>
    </header>

     <main>
        <section>
            <div class="usuario">
                <h2>John Doe</h2>
                <a href="#">Cerrar Sesión</a>
            </div>
            
            <h3>Mis Vuelos</h3>
            
            <div class="vuelo">
                <div class="info-horario">
                    <span>05:30 - 06:30</span>
                    <strong>VAA025</strong>
                </div>
                <div class="info-estado">
                    <span>1h 30 min</span>
                    <span class="estado">A TIEMPO</span>
                </div>
                <div class="info-fecha-ruta">
                    <span>Sep 29</span>
                    <span>Bogotá - Barranquilla</span>
                </div>
            </div>
            
            <div class="vuelo">
                <div class="info-horario">
                    <span>10:30 - 12:00</span>
                    <strong>VAA185</strong>
                </div>
                <div class="info-estado">
                    <span>1h 30 min</span>
                    <span class="estado">ATERRIZÓ</span>
                </div>
                <div class="info-fecha-ruta">
                    <span>Jul 05</span>
                    <span>Bogotá - Barranquilla</span>
                </div>
            </div>
            
            <div class="vuelo">
                <div class="info-horario">
                    <span>05:30 - 06:30</span>
                    <strong>VAA800</strong>
                </div>
                <div class="info-estado">
                    <span>1h 30 min</span>
                    <span class="estado">ATERRIZÓ</span>
                </div>
                <div class="info-fecha-ruta">
                    <span>Feb 04</span>
                    <span>Bogotá - Barranquilla</span>
                </div>
            </div>
            
            <div class="acciones">
                <a href="#">VOLVER</a>
            </div>
        </section>
    </main>
</body>
</html>