<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar contraseña</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body class="body-subclases">
    <header class="header">
        <img src="../icons/logo verde blanco horizontal.svg" alt="Logo DEAM" class="logo">
    </header>
    <main class="form-contenedor">
        <h2>Recuperar Contraseña</h2>
        <div class="linea-titulo"></div>

        <form action="./crear-contraseña.html" method="get">
            <div class="casilla-relleno">
                <label for="email"></label>
                <input type="email" id="email" placeholder="Email" required>
            </div>

            <p>Si el e-mail se encuentra registrado se enviará un link para continuar con la recuperación de su
                contraseña.</p>

            <button type="submit" class="boton-principal">ENVIAR</button>
        </form>

    </main>
</body>

</html>