<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body class="body-subclases">

    <header class="header">
        <img src="../icons/logo verde blanco horizontal.svg" alt="Logo DEAM" class="logo">
    </header>

    <main class="form-contenedor">
        <h2>Registro</h2>
        <div class="linea-titulo"></div> 
        
        <form action="../views/crear-contraseña.html" method="get">
            <div class="casilla-relleno">
                <label for="nombre"></label>
                <input type="text" id="nombre" placeholder="Nombre Completo" required>
            </div>   
            <div class="casilla-relleno">
                <label for="identificacion"></label>
                <input type="text" id="identificacion" placeholder="No. Identificación" required>
            </div> 

            <div class="casilla-relleno">
                <label for="email"></label>
                <input type="email" id="email" placeholder="E-mail" required>
            </div>


            <div>
            <div class="casilla-relleno">

                <label for="telefono"></label>
                <input type="tel" id="telefono" placeholder="Téléfono" required>
            </div>

            <div class="casilla-relleno">
            <div class="casilla-relleno">
                <label for="ciudad"></label>
                <select name="ciudad" id="ciudad" required>
                    <option value="" disabled selected>Seleccione una ciudad</option>
                    <option value="new-york">Bogotá</option>
                    <option value="new-york">Nueva York</option>
                    <option value="london">Londres</option>
                    <option value="tokyo">Tokio</option>
                    <option value="paris">París</option>
                    <option value="dubai">Dubái</option>
                    <option value="singapore">Singapur</option>
                    <option value="hong-kong">Hong Kong</option>
                    <option value="sydney">Sídney</option>
                    <option value="los-angeles">Los Ángeles</option>
                    <option value="rome">Roma</option>
                    <option value="barcelona">Barcelona</option>
                    <option value="moscow">Moscú</option>
                    <option value="mumbai">Mumbai</option>
                    <option value="shanghai">Shanghái</option>
                    <option value="istanbul">Estambul</option>
                    <option value="beijing">Pekín</option>
                    <option value="rio-de-janeiro">Río de Janeiro</option>
                    <option value="toronto">Toronto</option>
                    <option value="mexico-city">Ciudad de México</option>
                    <option value="berlin">Berlín</option>
                </select>
            </div>
            </div>
            <button type="submit" class="boton-principal">GUARDAR</button>
        </form>

    </main>
</body>
</html>